/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 12, 2023, 2:39:56 PM
    Author     : asus
*/

.gradient {
    -fx-background-color: linear-gradient(to bottom right, #18f3ff, #0caaff);
}

.white-form {
    -fx-background-color: #fff;
}

.head-label {
    -fx-border-color: #0caaff;
    -fx-border-width: 0 0 1px 0;
    -fx-border-padding: 0 0 5px 0 ;
}

.login-btn {
    -fx-border-color: rgb(10, 102, 194);
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-height: 30px;
    -fx-width: 70px;
    -fx-border-radius: 15px;
    -fx-transition: background-color 0.15s;


    }

.login-btn:hover {
    -fx-border-width: 2px;
    -fx-background-color: rgba(35, 108, 181, 0.163);;
    -fx-cursor: hand;
    -fx-border-radius: 100px;
    }
    
.create-account {
    -fx-border-color: #0caaff;
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-height: 30px;
    -fx-width: 70px;
    -fx-transition: background-color 0.15s;


    }

.create-account:hover {
    -fx-border-width: 2px;
    -fx-cursor: hand;
    }
    
.title {
    -fx-font-weight: bold;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-padding: 5px 5px 5px 5px ;
    -fx-border-color: #ffff;
        
    }
    
.textfield {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #0f6789, #281655);
    -fx-border-width: .5px;
    }
    
.textfield:focused {
    -fx-border-width: 1px;
    }